
<label class="col-@Antwoord.Columns offset-@Antwoord.Column">
    <SfDatePicker TValue="DateTime?" Placeholder=""></SfDatePicker>
</label>
@code {
    [Parameter]
    public FormulierAntwoord Antwoord { get; set; }
}
