<span class="col-@Antwoord.Columns offset-@Antwoord.Column">
    <SfRadioButton Label="@Antwoord.AntwoordToelichting" Name="a"></SfRadioButton>
</span>

@code {
    [Parameter]
    public FormulierAntwoord Antwoord { get; set; }
}
