    <label class="col-@AntwoordElement.Columns offset-@AntwoordElement.Column">
        <SfTextBox Type="text"></SfTextBox>

    </label>

@code {
    [Parameter]
    public FormulierAntwoord AntwoordElement { get; set; }
}
