
<label class="col-@Antwoord.Columns offset-@Antwoord.Column">
    <SfCheckBox Label=@Antwoord.AntwoordToelichting ></SfCheckBox>
</label>
@code {
    [Parameter]
    public FormulierAntwoord Antwoord { get; set; }
}
