
@inject NavigationManager NavigationManager
<h3>Routing</h3>

@code {
    [Parameter]
    public int Id { get; set; }
    protected override void OnInitialized()
    {
        string a= NavigationManager.ToAbsoluteUri("").ToString();
        NavigationManager.NavigateTo("#"+Id);
        StateHasChanged();
    }
}
