@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<img src="/images/download.jpg" class="img-responsive" />


StartUp =>
            app.UseStaticFiles();
            app.UseStaticFiles(new StaticFileOptions
            {
                FileProvider = new PhysicalFileProvider(
            Path.Combine(Directory.GetCurrentDirectory(), "wwwroot/images")),
            });
