<li class="elementList">
    <label  @onclick="ToggleLists">
        <i class="fas fa-angle-double-@symbolList"></i>
        <a href="@Url">
            <label>
                <span> @subItem.Titel </span>
            </label>
        </a>
    </label>
    @if (subItem.SubItems != null)
    {
        <ul class="list-unstyled elementsList @hideElements">
            @foreach (var item in subItem.SubItems)
            {
                <NavigatieItemComponent subItem="item"></NavigatieItemComponent>
            }
        </ul>
    }
</li>

@code {
    [Parameter]
    public dynamic subItem { get; set; }
    string symbolList = "";
    private string hideElements = "d-lg-none";

    protected override void OnInitialized()
    {
        if (subItem.SubItems != null)
        {
            if (subItem.SubItems.Count != 0)
            {
                symbolList = "right";
            }

        }
    }

    private string Url
    {
        get
        {
            if (subItem is PageNavigatieItem)
            {
                return subItem.Page;
            }
            return string.Empty;
        }
    }


    private void ToggleLists()
    {
        if (symbolList == "right")
        {
            symbolList = "down";
            hideElements = "";

        }
        else if (subItem.SubItems == null)
        {
            symbolList = "";
        }
        else
        {
            symbolList = "right";
            hideElements = "d-lg-none";
            StateHasChanged();
        }
    }
}
