@page "/chat"
<h3>Chat</h3>


<div class="row">
    <dev class="col-3">
        <ul id="message">
        </ul>
    </dev>
</div>
<button id="bt" onclick="cl">Click here</button>


<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/js.js"></script>