@inherits LayoutComponentBase
<div class="mainHeader">
    <MainHeaderComponent />
</div>

<div class="main">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <section class="sectionBody">
        <div class="content">
            @Body
        </div>
    </section>
</div>
