.main {
  // border-right: 1px solid #d7d7d7;
  padding: 0px;
  background: #FBFBFB;
  box-shadow: 5px 0px 10px -8px #333;
  -webkit-box-shadow: 5px 0px 10px -8px #333;
  -moz-box-shadow: 5px 0px 10px -8px #333;
}

.detail {
  padding: 0px;
}