@page "/vwaangepastewoningen" 

@using HenE.Aeolus.Overzichten.Domain.GemeenteIJsseldijk;
@using HenE.Aeolus.Shared.Ui.Blazor.docs.GridBody.Components
@inject IConfiguration configuration

<div>
    <ODataGridBaseComponent TItem="Vwaangepastewoningen" Url="@Url" />
</div>
@code{
        string Url;

    protected override void OnInitialized()
    {
        Url = configuration["Api:Adresses:Overzichten"] + "vwaangepastewoningen";
    }
}

