@page "/wellKnownEntity" 

@using HenE.Aeolus.Overzichten.Domain.GemeenteIJsseldijk;
@inject IConfiguration configuration

<div>
    <ODataGridBaseComponent TItem="WellKnownEntity" Url="@Url"></ODataGridBaseComponent>
</div>
@code{
        string Url;

    protected override void OnInitialized()
    {
        Url = configuration["Api:Adresses:Overzichten"] + "wellKnownEntity";
    }
}

