@page "/bootstrap"
<h3>Bootstrap</h3>

<table class="table table-primary table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>1</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>2</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>3</td>
        </tr>
    </tbody>
</table>

<table class="table table-danger table-hover">
    <thead>
        <tr>
            <th scope="col">Een</th>
            <th scope="col">Twee</th>
            <th scope="col">Drie</th>
            <th scope="col">Vier</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
        </tr>
            <tr>
            <td>1</td>
            <td scope="row">2</td>
            <td>3</td>
            <td>4</td>
        </tr>
            <tr>
            <td>1</td>
            <td scope="row" colspan="2">3</td>
            <td>4</td>
        </tr>
    </tbody>
</table>