@using HenE_BlazorComponent.Data

    <label class="d-flex col-@CardCircularGaugeElement.Columns align-self-@CardCircularGaugeElement.HorizontalAlign.ToBootstrap() justify-content-@CardCircularGaugeElement.VerticalAlign.ToBootstrap()">
        <SfCircularGauge>
            <CircularGaugeAxes>
                <CircularGaugeAxis Radius="80%" StartAngle=CardCircularGaugeElement.StartAngle EndAngle=CardCircularGaugeElement.EndAngle>
                    <CircularGaugeAxisLabelStyle Offset="-5">
                        <CircularGaugeAxisLabelFont FontFamily="Roboto" Size="12px" FontWeight="Regular">
                        </CircularGaugeAxisLabelFont>
                    </CircularGaugeAxisLabelStyle>
                    <CircularGaugeAxisLineStyle Width="8" Color="#E0E0E0">
                    </CircularGaugeAxisLineStyle>
                    <CircularGaugeAxisMajorTicks Width="0.01">
                    </CircularGaugeAxisMajorTicks>
                    <CircularGaugeAxisMinorTicks Width="0.01">
                    </CircularGaugeAxisMinorTicks>
                    <CircularGaugePointers>
                        <CircularGaugePointer Value=@CardCircularGaugeElement.Value Radius="60%" Color="#757575" PointerWidth="7" RoundedCornerRadius="6">
                            <CircularGaugeCap Radius="8" Color="#757575">
                                <CircularGaugeCapBorder Width="0">
                                </CircularGaugeCapBorder>
                            </CircularGaugeCap>
                            <CircularGaugeNeedleTail Color="#757575" Length="25%">
                            </CircularGaugeNeedleTail>
                        </CircularGaugePointer>
                    </CircularGaugePointers>
                </CircularGaugeAxis>
            </CircularGaugeAxes>
        </SfCircularGauge>
    </label>


@code {
    [Parameter]
    public CardCircularGaugeElement CardCircularGaugeElement { get; set; }
}
