@page "/"
@using Extension_method.Extension

<h1>This from Extension method</h1>
<h2>@HorizontalAlign.Center.ToBootstrap()</h2>

<h2>@HorizontalAlign.Left.ToBootstrap()</h2>
<h2>@HorizontalAlign.Right.ToBootstrap()</h2>



