@page "/vwaangepastewoningen" 

@using HenE.Aeolus.Overzichten.Domain.GemeenteIJsseldijk;
@inject IConfiguration configuration

<div>
    <BaseBodyComponent TItem="Vwaangepastewoningen" Url="@Url"></BaseBodyComponent>
</div>
@code{
        string Url;

    protected override void OnInitialized()
    {
        Url = configuration["Api:Adresses:Overzichten"];
    }
}

